<a href="https://colab.research.google.com/github/theshifuji/demo/blob/main/Copy_of_Web_Scraping_using_Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

## üéâ Hi there! Welcome to today's assignment on Web Scraping in Python!

Are you ready to put your skills to the test? Let's dive right in! üí™üìö

In this assignment, you will be working with scraping websites using Python . Don't worry if you're feeling a bit unsure - you got this! ü§û

Good luck! üçÄüöÄ

## **Activity 1:**

### **GitHub trending repos:**

You are tasked to scrape the top 10 trending repositories of Python on GitHub (https://github.com/trending/python?since=daily). Perform the following actions based on the data:

1. Retrieve the name of the repository, the username of the owner, and the URL of the repository.
2. Store the information in a CSV file named "python_trending_repos.csv".
3. Print the information in a tabular format using the PrettyTable library.

In [ ]:
url = 'https://github.com/trending/python?since=daily'
response = requests.get(url)
print(response.text)

In [ ]:
soup = BeautifulSoup(response.text, "html.parser")

In [ ]:
s = soup.find_all("h2", attrs = {"class":"h3 lh-condensed"})
s[1].text.replace("\n","").strip()

'public-apis /      public-apis'

In [ ]:
s[0].find("a").get('href')

'/CASIA-IVA-Lab/FastSAM'

In [ ]:
lst = []
for i in s:
  lst.append({"Owner/Repo Name": i.text.replace("\n","").strip() , "URL" : "https://github.com" + i.find("a").get('href')})
print(lst)

[{'Owner/Repo Name': '0xpayne /      gpt-migrate', 'URL': 'https://github.com/0xpayne/gpt-migrate'}, {'Owner/Repo Name': 'public-apis /      public-apis', 'URL': 'https://github.com/public-apis/public-apis'}, {'Owner/Repo Name': 'geekan /      MetaGPT', 'URL': 'https://github.com/geekan/MetaGPT'}, {'Owner/Repo Name': 'paul-gauthier /      aider', 'URL': 'https://github.com/paul-gauthier/aider'}, {'Owner/Repo Name': 'geohot /      tinygrad', 'URL': 'https://github.com/geohot/tinygrad'}, {'Owner/Repo Name': 'w-okada /      voice-changer', 'URL': 'https://github.com/w-okada/voice-changer'}, {'Owner/Repo Name': 'AUTOMATIC1111 /      stable-diffusion-webui', 'URL': 'https://github.com/AUTOMATIC1111/stable-diffusion-webui'}, {'Owner/Repo Name': 'PromtEngineer /      localGPT', 'URL': 'https://github.com/PromtEngineer/localGPT'}, {'Owner/Repo Name': 'ArchiveBox /      ArchiveBox', 'URL': 'https://github.com/ArchiveBox/ArchiveBox'}, {'Owner/Repo Name': 'dbeley /      awesome-lemmy', 'URL': 'https://github.com/dbeley/awesome-lemmy'}, {'Owner/Repo Name': 'Octoberfest7 /      TeamsPhisher', 'URL': 'https://github.com/Octoberfest7/TeamsPhisher'}, {'Owner/Repo Name': 'linyiLYi /      snake-ai', 'URL': 'https://github.com/linyiLYi/snake-ai'}, {'Owner/Repo Name': 'shikras /      shikra', 'URL': 'https://github.com/shikras/shikra'}, {'Owner/Repo Name': 'lllyasviel /      ControlNet', 'URL': 'https://github.com/lllyasviel/ControlNet'}, {'Owner/Repo Name': 'ageitgey /      face_recognition', 'URL': 'https://github.com/ageitgey/face_recognition'}, {'Owner/Repo Name': '0hq /      tinyvector', 'URL': 'https://github.com/0hq/tinyvector'}, {'Owner/Repo Name': 'OpenBMB /      VisCPM', 'URL': 'https://github.com/OpenBMB/VisCPM'}, {'Owner/Repo Name': 'AlanChen4 /      Summer-2024-SWE-Internships', 'URL': 'https://github.com/AlanChen4/Summer-2024-SWE-Internships'}, {'Owner/Repo Name': 'abacaj /      code-eval', 'URL': 'https://github.com/abacaj/code-eval'}, {'Owner/Repo Name': 'mikel-brostrom /      yolo_tracking', 'URL': 'https://github.com/mikel-brostrom/yolo_tracking'}, {'Owner/Repo Name': 'Azure-Samples /      jp-azureopenai-samples', 'URL': 'https://github.com/Azure-Samples/jp-azureopenai-samples'}, {'Owner/Repo Name': 'huggingface /      diffusers', 'URL': 'https://github.com/huggingface/diffusers'}, {'Owner/Repo Name': 'yongjiu8 /      WeiXinDragonBoatGame', 'URL': 'https://github.com/yongjiu8/WeiXinDragonBoatGame'}, {'Owner/Repo Name': 'pgadmin-org /      pgadmin4', 'URL': 'https://github.com/pgadmin-org/pgadmin4'}, {'Owner/Repo Name': 'tiangolo /      fastapi', 'URL': 'https://github.com/tiangolo/fastapi'}]

In [ ]:
df = pd.DataFrame(lst)

In [ ]:
df

,Owner/Repo Name,URL
0,0xpayne / gpt-migrate,https://github.com/0xpayne/gpt-migrate
1,public-apis / public-apis,https://github.com/public-apis/public-apis
2,geekan / MetaGPT,https://github.com/geekan/MetaGPT
3,paul-gauthier / aider,https://github.com/paul-gauthier/aider
4,geohot / tinygrad,https://github.com/geohot/tinygrad
5,w-okada / voice-changer,https://github.com/w-okada/voice-changer
6,AUTOMATIC1111 / stable-diffusion-webui,https://github.com/AUTOMATIC1111/stable-diffus...
7,PromtEngineer / localGPT,https://github.com/PromtEngineer/localGPT
8,ArchiveBox / ArchiveBox,https://github.com/ArchiveBox/ArchiveBox
9,dbeley / awesome-lemmy,https://github.com/dbeley/awesome-lemmy
10,Octoberfest7 / TeamsPhisher,https://github.com/Octoberfest7/TeamsPhisher
11,linyiLYi / snake-ai,https://github.com/linyiLYi/snake-ai
12,shikras / shikra,https://github.com/shikras/shikra
13,lllyasviel / ControlNet,https://github.com/lllyasviel/ControlNet
14,ageitgey / face_recognition,https://github.com/ageitgey/face_recognition
15,0hq / tinyvector,https://github.com/0hq/tinyvector
16,OpenBMB / VisCPM,https://github.com/OpenBMB/VisCPM
17,AlanChen4 / Summer-2024-SWE-Internships,https://github.com/AlanChen4/Summer-2024-SWE-I...
18,abacaj / code-eval,https://github.com/abacaj/code-eval
19,mikel-brostrom / yolo_tracking,https://github.com/mikel-brostrom/yolo_tracking
20,Azure-Samples / jp-azureopenai-samples,https://github.com/Azure-Samples/jp-azureopena...
21,huggingface / diffusers,https://github.com/huggingface/diffusers
22,yongjiu8 / WeiXinDragonBoatGame,https://github.com/yongjiu8/WeiXinDragonBoatGame
23,pgadmin-org / pgadmin4,https://github.com/pgadmin-org/pgadmin4
24,tiangolo / fastapi,https://github.com/tiangolo/fastapi

## **Activity 2:**

### **IMDB Movies:**

Your task is to scrape the top 10 movies currently playing in theaters in the United States from the website https://www.imdb.com/chart/top/.

Perform the following actions based on the data:

1. Extract movie titles: Extract the title of each movie and store it in a list.

2. Extract movie release year: Extract the release year of each movie and store it in a separate list.

3. Extract movie ratings: Extract the rating of each movie and store it in a separate list.

4. Export the data: Export the extracted data into a CSV file named "top_movies.csv".

In [ ]:
# Downloading imdb top 250 movie's data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)

In [ ]:
print(response.text)

<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
</body>
</html>

In [ ]:
soup = BeautifulSoup(response.text, "html.parser")
all_movies = soup.select('td.titleColumn')

In [ ]:
title = [a.text for a in soup.select('td.titleColumn a')]
year = [s.text for s in soup.select('td.titleColumn span')]
rating = [r.text for r in soup.select('td.ratingColumn strong')]

In [ ]:
lst = []
for i in range(10):
  lst.append({'Movie': title[i], 'Year': year[i], 'Rating': rating[i]})
print(lst)

[{'Movie': 'The Shawshank Redemption', 'Year': '(1994)', 'Rating': '9.2'}, {'Movie': 'The Godfather', 'Year': '(1972)', 'Rating': '9.2'}, {'Movie': 'The Dark Knight', 'Year': '(2008)', 'Rating': '9.0'}, {'Movie': 'The Godfather Part II', 'Year': '(1974)', 'Rating': '9.0'}, {'Movie': '12 Angry Men', 'Year': '(1957)', 'Rating': '9.0'}, {'Movie': "Schindler's List", 'Year': '(1993)', 'Rating': '8.9'}, {'Movie': 'The Lord of the Rings: The Return of the King', 'Year': '(2003)', 'Rating': '8.9'}, {'Movie': 'Pulp Fiction', 'Year': '(1994)', 'Rating': '8.8'}, {'Movie': 'The Lord of the Rings: The Fellowship of the Ring', 'Year': '(2001)', 'Rating': '8.8'}, {'Movie': 'The Good, the Bad and the Ugly', 'Year': '(1966)', 'Rating': '8.8'}]

In [ ]:
df = pd.DataFrame(lst)
df

                                               Movie    Year Rating
0                           The Shawshank Redemption  (1994)    9.2
1                                      The Godfather  (1972)    9.2
2                                    The Dark Knight  (2008)    9.0
3                              The Godfather Part II  (1974)    9.0
4                                       12 Angry Men  (1957)    9.0
5                                   Schindler's List  (1993)    8.9
6      The Lord of the Rings: The Return of the King  (2003)    8.9
7                                       Pulp Fiction  (1994)    8.8
8  The Lord of the Rings: The Fellowship of the Ring  (2001)    8.8
9                     The Good, the Bad and the Ugly  (1966)    8.8

## **Activity 3:**

### **Covid-19 Cases:**

You are required to scrape the website https://www.worldometers.info/coronavirus/ to get the latest updates on COVID-19 cases worldwide.

1. Extract the Total Cases, Total Deaths, Total Recovered, and Active Cases data for all countries.

2. Save the data in a CSV file with appropriate column names and make sure to remove any commas or non-numeric characters from the data.

3. Clean the data to remove any missing values or inconsistencies. If there are any missing values, fill them appropriately.

4. Visualize the data using appropriate graphs and charts.

Note: Please make sure to be respectful of the website's terms of use and do not scrape any website that prohibits web scraping.

In [ ]:
# Downloading imdb top 250 movie's data
url = 'https://www.worldometers.info/coronavirus/'
response = requests.get(url)

In [ ]:
print(response.text)

In [ ]:
soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
#tr = soup.find_all("tr", attrs={"style": ""})

tr = soup.find("tbody").find_all("tr", attrs={"style": ""})
len(tr)

209

In [ ]:
table = []
for t in tr[2:-2]:
  td = t.find_all("td")
  country = td[1].text
  total_cases = td[2].text
  total_deaths = td[4].text
  total_recovered = td[6].text
  active_cases = td[8].text
  table.append({"Country": country, "Total Cases": total_cases, "Total Deaths": total_deaths, "Total Recovered": total_recovered, "Active Cases": active_cases})

print(table)

[{'Country': 'India', 'Total Cases': '44,994,407', 'Total Deaths': '531,910                                ', 'Total Recovered': '44,461,044', 'Active Cases': '1,453'}, {'Country': 'France', 'Total Cases': '40,138,560', 'Total Deaths': '167,642                                ', 'Total Recovered': '39,950,975', 'Active Cases': '19,943'}, {'Country': 'Germany', 'Total Cases': '38,428,685', 'Total Deaths': '174,352                                ', 'Total Recovered': '38,240,600', 'Active Cases': '13,733'}, {'Country': 'Brazil', 'Total Cases': '37,682,660', 'Total Deaths': '704,159                                ', 'Total Recovered': '36,249,161', 'Active Cases': '729,340'}, {'Country': 'Japan', 'Total Cases': '33,803,572', 'Total Deaths': '74,694                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'S. Korea', 'Total Cases': '32,256,154', 'Total Deaths': '35,071                                ', 'Total Recovered': '31,961,713', 'Active Cases': '259,370'}, {'Country': 'Italy', 'Total Cases': '25,897,801', 'Total Deaths': '190,868                                ', 'Total Recovered': '25,593,568', 'Active Cases': '113,365'}, {'Country': 'UK', 'Total Cases': '24,636,637', 'Total Deaths': '227,524                                ', 'Total Recovered': '24,402,986', 'Active Cases': '6,127'}, {'Country': 'Russia', 'Total Cases': '22,963,688', 'Total Deaths': '399,649                                ', 'Total Recovered': '22,408,708', 'Active Cases': '155,331'}, {'Country': 'Turkey', 'Total Cases': '17,232,066', 'Total Deaths': '102,174                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Spain', 'Total Cases': '13,914,811', 'Total Deaths': '121,760                                ', 'Total Recovered': '13,762,417', 'Active Cases': '30,634'}, {'Country': 'Australia', 'Total Cases': '11,700,577', 'Total Deaths': '21,817                                ', 'Total Recovered': '11,668,002', 'Active Cases': '10,758'}, {'Country': 'Vietnam', 'Total Cases': '11,620,833', 'Total Deaths': '43,206                                ', 'Total Recovered': '10,640,138', 'Active Cases': '937,489'}, {'Country': 'Mexico', 'Total Cases': '7,633,355', 'Total Deaths': '334,336                                ', 'Total Recovered': '6,885,378', 'Active Cases': '413,641'}, {'Country': 'Iran', 'Total Cases': '7,612,578', 'Total Deaths': '146,295                                ', 'Total Recovered': '7,369,873', 'Active Cases': '96,410'}, {'Country': 'Indonesia', 'Total Cases': '6,812,127', 'Total Deaths': '161,879                                ', 'Total Recovered': '6,642,003', 'Active Cases': '8,245'}, {'Country': 'Poland', 'Total Cases': '6,517,903', 'Total Deaths': '119,629                                ', 'Total Recovered': '5,335,940', 'Active Cases': '1,062,334'}, {'Country': 'Colombia', 'Total Cases': '6,372,392', 'Total Deaths': '142,807                                ', 'Total Recovered': '6,190,683', 'Active Cases': '38,902'}, {'Country': 'Austria', 'Total Cases': '6,081,287', 'Total Deaths': '22,542                                ', 'Total Recovered': '6,054,934', 'Active Cases': '3,811'}, {'Country': 'Portugal', 'Total Cases': '5,592,410', 'Total Deaths': '26,885                                ', 'Total Recovered': '5,563,162', 'Active Cases': '2,363'}, {'Country': 'Chile', 'Total Cases': '5,288,390', 'Total Deaths': '64,497                                ', 'Total Recovered': '5,223,852', 'Active Cases': '41'}, {'Country': 'Malaysia', 'Total Cases': '5,116,265', 'Total Deaths': '37,152                                ', 'Total Recovered': '5,064,159', 'Active Cases': '14,954'}, {'Country': 'Israel', 'Total Cases': '4,828,768', 'Total Deaths': '12,564                                ', 'Total Recovered': '4,798,473', 'Active Cases': '17,731'}, {'Country': 'Belgium', 'Total Cases': '4,801,724', 'Total Deaths': '34,375                                ', 'Total Recovered': '4,765,387', 'Active Cases': '1,962'}, {'Country': 'Thailand', 'Total Cases': '4,752,422', 'Total Deaths': '34,371                                ', 'Total Recovered': '4,692,636', 'Active Cases': '25,415'}, {'Country': 'Canada', 'Total Cases': '4,688,830', 'Total Deaths': '52,860                                ', 'Total Recovered': '4,628,854', 'Active Cases': '7,116'}, {'Country': 'Czechia', 'Total Cases': '4,642,786', 'Total Deaths': '42,811                                ', 'Total Recovered': '4,599,775', 'Active Cases': '200'}, {'Country': 'Switzerland', 'Total Cases': '4,407,105', 'Total Deaths': '14,452                                ', 'Total Recovered': '4,391,486', 'Active Cases': '1,167'}, {'Country': 'Philippines', 'Total Cases': '4,166,448', 'Total Deaths': '66,484                                ', 'Total Recovered': '4,093,333', 'Active Cases': '6,631'}, {'Country': 'South Africa', 'Total Cases': '4,076,463', 'Total Deaths': '102,595                                ', 'Total Recovered': '3,912,506', 'Active Cases': '61,362'}, {'Country': 'Romania', 'Total Cases': '3,407,995', 'Total Deaths': '68,240                                ', 'Total Recovered': '3,338,666', 'Active Cases': '1,089'}, {'Country': 'Denmark', 'Total Cases': '3,182,286', 'Total Deaths': '8,755                                ', 'Total Recovered': '3,173,439', 'Active Cases': '92'}, {'Country': 'Hong Kong', 'Total Cases': '2,912,353', 'Total Deaths': '13,819                                ', 'Total Recovered': '2,893,532', 'Active Cases': '5,002'}, {'Country': 'Sweden', 'Total Cases': '2,712,743', 'Total Deaths': '24,536                                ', 'Total Recovered': '2,686,651', 'Active Cases': '1,556'}, {'Country': 'Serbia', 'Total Cases': '2,544,001', 'Total Deaths': '18,057                                ', 'Total Recovered': '2,525,128', 'Active Cases': '816'}, {'Country': 'Singapore', 'Total Cases': '2,505,435', 'Total Deaths': '1,841                                ', 'Total Recovered': '2,149,583', 'Active Cases': '354,011'}, {'Country': 'Iraq', 'Total Cases': '2,465,545', 'Total Deaths': '25,375                                ', 'Total Recovered': '2,439,497', 'Active Cases': '673'}, {'Country': 'New Zealand', 'Total Cases': '2,419,839', 'Total Deaths': '4,533                                ', 'Total Recovered': '2,410,171', 'Active Cases': '5,135'}, {'Country': 'Hungary', 'Total Cases': '2,203,171', 'Total Deaths': '48,881                                ', 'Total Recovered': '2,152,155', 'Active Cases': '2,135'}, {'Country': 'Bangladesh', 'Total Cases': '2,042,422', 'Total Deaths': '29,462                                ', 'Total Recovered': '1,998,448', 'Active Cases': '14,512'}, {'Country': 'Georgia', 'Total Cases': '1,844,789', 'Total Deaths': '17,092                                ', 'Total Recovered': '1,776,548', 'Active Cases': '51,149'}, {'Country': 'Jordan', 'Total Cases': '1,746,997', 'Total Deaths': '14,122                                ', 'Total Recovered': '1,731,007', 'Active Cases': '1,868'}, {'Country': 'Ireland', 'Total Cases': '1,713,613', 'Total Deaths': '9,058                                ', 'Total Recovered': '1,703,596', 'Active Cases': '959'}, {'Country': 'Pakistan', 'Total Cases': '1,581,232', 'Total Deaths': '30,661                                ', 'Total Recovered': '1,538,689', 'Active Cases': '11,882'}, {'Country': 'Norway', 'Total Cases': '1,485,627', 'Total Deaths': '5,566                                ', 'Total Recovered': '1,479,798', 'Active Cases': '263'}, {'Country': 'Finland', 'Total Cases': '1,482,363', 'Total Deaths': '9,974                                ', 'Total Recovered': '1,471,334', 'Active Cases': '1,055'}, {'Country': 'Kazakhstan', 'Total Cases': '1,411,831', 'Total Deaths': '13,848                                ', 'Total Recovered': '1,383,020', 'Active Cases': '14,963'}, {'Country': 'Slovenia', 'Total Cases': '1,344,254', 'Total Deaths': '7,100                                ', 'Total Recovered': '1,337,079', 'Active Cases': '75'}, {'Country': 'Lithuania', 'Total Cases': '1,321,493', 'Total Deaths': '9,692                                ', 'Total Recovered': '1,311,368', 'Active Cases': '433'}, {'Country': 'Bulgaria', 'Total Cases': '1,309,178', 'Total Deaths': '38,428                                ', 'Total Recovered': '1,269,338', 'Active Cases': '1,412'}, {'Country': 'Morocco', 'Total Cases': '1,275,136', 'Total Deaths': '16,297                                ', 'Total Recovered': '1,256,151', 'Active Cases': '2,688'}, {'Country': 'Croatia', 'Total Cases': '1,274,014', 'Total Deaths': '18,275                                ', 'Total Recovered': '1,255,594', 'Active Cases': '145'}, {'Country': 'Guatemala', 'Total Cases': '1,261,671', 'Total Deaths': '20,208                                ', 'Total Recovered': '1,236,717', 'Active Cases': '4,746'}, {'Country': 'Lebanon', 'Total Cases': '1,238,552', 'Total Deaths': '10,936                                ', 'Total Recovered': '1,087,587', 'Active Cases': '140,029'}, {'Country': 'Costa Rica', 'Total Cases': '1,235,961', 'Total Deaths': '9,386                                ', 'Total Recovered': '860,711', 'Active Cases': '365,864'}, {'Country': 'Bolivia', 'Total Cases': '1,203,252', 'Total Deaths': '22,392                                ', 'Total Recovered': '1,171,400', 'Active Cases': '9,460'}, {'Country': 'Tunisia', 'Total Cases': '1,153,361', 'Total Deaths': '29,423                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Cuba', 'Total Cases': '1,114,888', 'Total Deaths': '8,530                                ', 'Total Recovered': '1,106,254', 'Active Cases': '104'}, {'Country': 'UAE', 'Total Cases': '1,067,030', 'Total Deaths': '2,349                                ', 'Total Recovered': '1,054,525', 'Active Cases': '10,156'}, {'Country': 'Panama', 'Total Cases': '1,042,631', 'Total Deaths': '8,634                                ', 'Total Recovered': '1,032,845', 'Active Cases': '1,152'}, {'Country': 'Uruguay', 'Total Cases': '1,038,774', 'Total Deaths': '7,634                                ', 'Total Recovered': '1,030,944', 'Active Cases': '196'}, {'Country': 'Nepal', 'Total Cases': '1,003,369', 'Total Deaths': '12,031                                ', 'Total Recovered': '991,322', 'Active Cases': '16'}, {'Country': 'Belarus', 'Total Cases': '994,037', 'Total Deaths': '7,118                                ', 'Total Recovered': '985,592', 'Active Cases': '1,327'}, {'Country': 'Latvia', 'Total Cases': '978,172', 'Total Deaths': '6,386                                ', 'Total Recovered': '971,406', 'Active Cases': '380'}, {'Country': 'Saudi Arabia', 'Total Cases': '841,469', 'Total Deaths': '9,646                                ', 'Total Recovered': '827,923', 'Active Cases': '3,900'}, {'Country': 'Azerbaijan', 'Total Cases': '831,954', 'Total Deaths': '10,284                                ', 'Total Recovered': '821,661', 'Active Cases': '9'}, {'Country': 'Paraguay', 'Total Cases': '811,307', 'Total Deaths': '19,965                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Bahrain', 'Total Cases': '722,555', 'Total Deaths': '1,566                                ', 'Total Recovered': '720,863', 'Active Cases': '126'}, {'Country': 'Sri Lanka', 'Total Cases': '672,544', 'Total Deaths': '16,879                                ', 'Total Recovered': '655,658', 'Active Cases': '7'}, {'Country': 'Kuwait', 'Total Cases': '665,974', 'Total Deaths': '2,570                                ', 'Total Recovered': '660,237', 'Active Cases': '3,167'}, {'Country': 'Dominican Republic', 'Total Cases': '662,418', 'Total Deaths': '4,384                                ', 'Total Recovered': '644,785', 'Active Cases': '13,249'}, {'Country': 'Myanmar', 'Total Cases': '640,496', 'Total Deaths': '19,494                                ', 'Total Recovered': '619,421', 'Active Cases': '1,581'}, {'Country': 'Palestine', 'Total Cases': '621,008', 'Total Deaths': '5,404                                ', 'Total Recovered': '615,445', 'Active Cases': '159'}, {'Country': 'Moldova', 'Total Cases': '620,717', 'Total Deaths': '12,124                                ', 'Total Recovered': '504,142', 'Active Cases': '104,451'}, {'Country': 'Estonia', 'Total Cases': '619,297', 'Total Deaths': '3,001                                ', 'Total Recovered': '524,990', 'Active Cases': '91,306'}, {'Country': 'Venezuela', 'Total Cases': '552,695', 'Total Deaths': '5,856                                ', 'Total Recovered': '546,537', 'Active Cases': '302'}, {'Country': 'Egypt', 'Total Cases': '516,023', 'Total Deaths': '24,613                                ', 'Total Recovered': '442,182', 'Active Cases': '49,228'}, {'Country': 'Qatar', 'Total Cases': '514,524', 'Total Deaths': '690                                ', 'Total Recovered': '513,687', 'Active Cases': '147'}, {'Country': 'Ethiopia', 'Total Cases': '500,920', 'Total Deaths': '7,574                                ', 'Total Recovered': '488,153', 'Active Cases': '5,193'}, {'Country': 'R√©union', 'Total Cases': '486,588', 'Total Deaths': '921                                ', 'Total Recovered': '418,572', 'Active Cases': '67,095'}, {'Country': 'Honduras', 'Total Cases': '472,619', 'Total Deaths': '11,116                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Armenia', 'Total Cases': '449,233', 'Total Deaths': '8,751                                ', 'Total Recovered': '435,162', 'Active Cases': '5,320'}, {'Country': 'Bosnia and Herzegovina', 'Total Cases': '403,043', 'Total Deaths': '16,350                                ', 'Total Recovered': '379,084', 'Active Cases': '7,609'}, {'Country': 'Oman', 'Total Cases': '399,449', 'Total Deaths': '4,628                                ', 'Total Recovered': '384,669', 'Active Cases': '10,152'}, {'Country': 'North Macedonia', 'Total Cases': '348,335', 'Total Deaths': '9,677                                ', 'Total Recovered': '337,068', 'Active Cases': '1,590'}, {'Country': 'Zambia', 'Total Cases': '347,022', 'Total Deaths': '4,062                                ', 'Total Recovered': '341,316', 'Active Cases': '1,644'}, {'Country': 'Kenya', 'Total Cases': '343,537', 'Total Deaths': '5,689                                ', 'Total Recovered': '337,309', 'Active Cases': '539'}, {'Country': 'Albania', 'Total Cases': '334,726', 'Total Deaths': '3,602                                ', 'Total Recovered': '329,428', 'Active Cases': '1,696'}, {'Country': 'Botswana', 'Total Cases': '330,008', 'Total Deaths': '2,801                                ', 'Total Recovered': '327,049', 'Active Cases': '158'}, {'Country': 'Luxembourg', 'Total Cases': '319,959', 'Total Deaths': '1,232                                ', 'Total Recovered': '316,690', 'Active Cases': '2,037'}, {'Country': 'Brunei ', 'Total Cases': '308,777', 'Total Deaths': '225                                ', 'Total Recovered': '243,601', 'Active Cases': '64,951'}, {'Country': 'Montenegro', 'Total Cases': '291,937', 'Total Deaths': '2,828                                ', 'Total Recovered': '288,645', 'Active Cases': '464'}, {'Country': 'Algeria', 'Total Cases': '271,852', 'Total Deaths': '6,881                                ', 'Total Recovered': '183,061', 'Active Cases': '81,910'}, {'Country': 'Nigeria', 'Total Cases': '266,675', 'Total Deaths': '3,155                                ', 'Total Recovered': '259,953', 'Active Cases': '3,567'}, {'Country': 'Zimbabwe', 'Total Cases': '265,413', 'Total Deaths': '5,707                                ', 'Total Recovered': '258,888', 'Active Cases': '818'}, {'Country': 'Uzbekistan', 'Total Cases': '253,662', 'Total Deaths': '1,637                                ', 'Total Recovered': '241,486', 'Active Cases': '10,539'}, {'Country': 'Mozambique', 'Total Cases': '233,417', 'Total Deaths': '2,243                                ', 'Total Recovered': '228,805', 'Active Cases': '2,369'}, {'Country': 'Martinique', 'Total Cases': '230,354', 'Total Deaths': '1,102                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Afghanistan', 'Total Cases': '223,554', 'Total Deaths': '7,930                                ', 'Total Recovered': '203,214', 'Active Cases': '12,410'}, {'Country': 'Laos', 'Total Cases': '218,530', 'Total Deaths': '758                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Iceland', 'Total Cases': '209,191', 'Total Deaths': '229                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Kyrgyzstan', 'Total Cases': '206,897', 'Total Deaths': '2,991                                ', 'Total Recovered': '196,406', 'Active Cases': '7,500'}, {'Country': 'Guadeloupe', 'Total Cases': '203,235', 'Total Deaths': '1,021                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'El Salvador', 'Total Cases': '201,785', 'Total Deaths': '4,230                                ', 'Total Recovered': '179,410', 'Active Cases': '18,145'}, {'Country': 'Trinidad and Tobago', 'Total Cases': '191,496', 'Total Deaths': '4,390                                ', 'Total Recovered': '187,078', 'Active Cases': '28'}, {'Country': 'Maldives', 'Total Cases': '186,685', 'Total Deaths': '316                                ', 'Total Recovered': '163,687', 'Active Cases': '22,682'}, {'Country': 'Ghana', 'Total Cases': '171,657', 'Total Deaths': '1,462                                ', 'Total Recovered': '170,161', 'Active Cases': '34'}, {'Country': 'Namibia', 'Total Cases': '171,310', 'Total Deaths': '4,091                                ', 'Total Recovered': '167,099', 'Active Cases': '120'}, {'Country': 'Uganda', 'Total Cases': '170,775', 'Total Deaths': '3,632                                ', 'Total Recovered': '100,431', 'Active Cases': '66,712'}, {'Country': 'Jamaica', 'Total Cases': '155,292', 'Total Deaths': '3,566                                ', 'Total Recovered': '103,011', 'Active Cases': '48,715'}, {'Country': 'Cambodia', 'Total Cases': '138,931', 'Total Deaths': '3,056                                ', 'Total Recovered': '135,846', 'Active Cases': '29'}, {'Country': 'Rwanda', 'Total Cases': '133,194', 'Total Deaths': '1,468                                ', 'Total Recovered': '131,647', 'Active Cases': '79'}, {'Country': 'Cameroon', 'Total Cases': '125,087', 'Total Deaths': '1,974                                ', 'Total Recovered': '122,807', 'Active Cases': '306'}, {'Country': 'Malta', 'Total Cases': '119,063', 'Total Deaths': '844                                ', 'Total Recovered': '117,656', 'Active Cases': '563'}, {'Country': 'Barbados', 'Total Cases': '107,794', 'Total Deaths': '593                                ', 'Total Recovered': '106,971', 'Active Cases': '230'}, {'Country': 'Angola', 'Total Cases': '105,384', 'Total Deaths': '1,934                                ', 'Total Recovered': '103,419', 'Active Cases': '31'}, {'Country': 'Channel Islands', 'Total Cases': '101,717', 'Total Deaths': '228                                ', 'Total Recovered': '101,321', 'Active Cases': '168'}, {'Country': 'French Guiana', 'Total Cases': '98,041', 'Total Deaths': '420                                ', 'Total Recovered': '11,254', 'Active Cases': '86,367'}, {'Country': 'DRC', 'Total Cases': '97,409', 'Total Deaths': '1,468                                ', 'Total Recovered': '84,489', 'Active Cases': '11,452'}, {'Country': 'Senegal', 'Total Cases': '89,003', 'Total Deaths': '1,971                                ', 'Total Recovered': '87,024', 'Active Cases': '8'}, {'Country': 'Malawi', 'Total Cases': '88,728', 'Total Deaths': '2,686                                ', 'Total Recovered': '85,651', 'Active Cases': '391'}, {'Country': 'Ivory Coast', 'Total Cases': '88,335', 'Total Deaths': '835                 

In [ ]:
df = pd.DataFrame(table)

In [ ]:
df

,Country,Total Cases,Total Deaths,Total Recovered,Active Cases
0,India,"44,994,407","531,910","44,461,044","1,453"
1,France,"40,138,560","167,642","39,950,975","19,943"
2,Germany,"38,428,685","174,352","38,240,600","13,733"
3,Brazil,"37,682,660","704,159","36,249,161","729,340"
4,Japan,"33,803,572","74,694",N/A,N/A
...,...,...,...,...,...
200,Wallis and Futuna,"3,550",8,438,"3,104"
201,Saint Pierre Miquelon,"3,452",2,"2,449","1,001"
202,Tuvalu,"2,943",1,,"2,942"
203,Saint Helena,"2,166",,2,"2,164"
204,Montserrat,"1,403",8,"1,376",19